function Main.main 2
push constant 255
push constant 255
call Board.new 2
pop local 0
push constant 64
push constant 64
push constant 62
call Square.new 3
pop local 1
push local 0
call Board.drawBoard 1
pop temp 0
push constant 500
call Sys.wait 1
pop temp 0
push local 1
call Square.moveRight 1
pop temp 0
push local 1
call Square.moveDown 1
pop temp 0
push local 0
call Board.drawBoard 1
pop temp 0
push constant 0
return
